<form [formGroup]="newItemForm" (ngSubmit)="addItem()">
  <label for="itemName">Item Name:</label>
  <input type="text" id="itemName" formControlName="itemName">

  <label for="itemDescription">Item Description:</label>
  <input type="text" id="itemDescription" formControlName="itemDescription">

  <label for="price">Price:</label>
  <input type="number" id="price" formControlName="price">
  
  <label for="quantityAvailable">Quantity Available:</label>
  <input type="number" id="quantityAvailable" formControlName="quantityAvailable">
  

  <label for="category">Category:</label>
  <input type="text" id="category" formControlName="category">

  <button type="submit">Add Item</button>
</form>
