<div class="container mt-3">
  <h2 class="dashboard-header">Item Catalog</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Item Description</th>
        <th>Price</th>
        <th>Quantity Available</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of catalog" class="item-row">
        <td>{{ item.itemName }}</td>
        <td>{{ item.itemDescription }}</td>
        <td>${{ item.price }}</td>
        <td>{{ item.quantityAvailable }}</td>
        <td>{{ item.category }}</td>
      </tr>
    </tbody>
  </table>
</div>

